<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roza - بيانات التوصيل والدفع</title>
    <meta name="language" content="Arabic">
    <meta name="description" content="Roza متجر لبيع الورود وفازات الورود" />
    <meta name="keywords" content="roza, ورد">
    <meta name="theme-color" content="#4f4d8c">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/libs/line-awesome.min.css">
    <link rel="stylesheet" href="../css/libs/flatpickr.min.css">
    <link rel="stylesheet" href="../css/libs/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="page-loader d-flex flex-column text-center">
            <img src="../assets/img/logo.png" class="logo-loader mb-3" alt="roza logo">
            <span>جاري التحميل ..</span>
            <img src="../assets/img/bg-flower.png" draggable="false" class="bg-flower-loader user-select-none"
                alt="background roza flower">
        </div>
    </div>

    <div class="wrap-full-page">
        <!-- Header (Navbar & Header Intro) -->
        <header id="main-header">
            <nav class="navbar navbar-expand-md navbar-light border-bottom border-md-0 py-2 mb-4">
                <div class="container">
                    <a class="navbar-brand ms-0 me-1" href="index.html">
                        <img src="../assets/img/logo.png" width="120" alt="roza logo">
                    </a>
                    <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#mainNavbarTop" aria-controls="mainNavbarTop" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="las la-bars text-dark-primary display-6"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="mainNavbarTop">
                        <ul class="navbar-nav mx-auto mb-2 mb-md-0 ps-0">
                            <li class="nav-item">
                                <a class="nav-link text-dark-primary px-4" href="who-we-are.html">من نحن</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark-primary px-4" href="products.html">منتجاتنا</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark-primary px-4" href="special-bouquet.html">نسق باقتك</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark-primary px-4" href="contact-us.html">اتصل بنا</a>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-between py-2 py-md-0 align-items-center">
                            <a href="signin.html" class="me-3 text-dark-primary">تسجيل الدخول</a>
                            <div class="position-relative" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="انت فى سلة المشتريات">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" x="0" y="0"
                                    viewBox="0 0 448 448" style="enable-background:new 0 0 512 512"
                                    xml:space="preserve">
                                    <g>
                                        <g xmlns="http://www.w3.org/2000/svg">
                                            <g id="bag">
                                                <path
                                                    d="m383.921 143.04c-.508-8.46-7.525-15.055-16-15.04h-64v-48c0-44.183-35.817-80-80-80s-80 35.817-80 80v48h-64c-8.475-.015-15.492 6.58-16 15.04l-14.08 254.24c-1.502 26.467 18.736 49.141 45.203 50.643.931.053 1.864.079 2.797.077h252.32c26.51.043 48.034-21.413 48.077-47.923.002-.933-.024-1.866-.077-2.797zm-208-63.04c0-26.51 21.49-48 48-48s48 21.49 48 48v48h-96z"
                                                    fill="#2f4159" data-original="#000000" class=""></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <small
                                    class="position-absolute top-0 end-50 badge rounded-circle bg-danger flex-center avatar-sm display-oxs border ">
                                    2
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Body Content -->
        <div class="py-5 container">
            <!-- Breadcumb -->
            <ul class="nav justify-content-center mb-5">
                <li class="nav-item">
                    <a href="shopping-cart.html" class="nav-link fw-600 display-omd">سلة المشتريات</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link px-1"><i
                            class="las la-angle-left fw-600 display-lg align-text-bottom"></i></span>
                </li>
                <li class="nav-item">
                    <span class="nav-link fw-600 display-omd">بيانات التوصيل والدفع</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link px-1 disabled"><i
                            class="las la-angle-left fw-600 display-lg align-text-bottom"></i></span>
                </li>
                <li class="nav-item">
                    <span class="nav-link fw-600 display-omd disabled text-muted">بيانات الدفع</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link px-1 disabled"><i
                            class="las la-angle-left fw-600 display-lg align-text-bottom"></i></span>
                </li>
                <li class="nav-item">
                    <span class="nav-link fw-600 display-omd disabled text-muted">اتمام الشراء</span>
                </li>
            </ul>


            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-7 col-md-9  g-md-0">
                    <form class="payment-form">
                        <section class="mb-5">
                            <h5 class="text-primary mb-3 fw-600">فاتورة الشراء</h5>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="name" required
                                            class="form-control form-control-lg display-omd rounded-3"
                                            placeholder="الاسم الكامل">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="email" class="form-control form-control-lg display-omd rounded-3"
                                            name="emai" placeholder="البريد الالكتروني">
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="thestate" class=" w-100 ps-2 rounded-3 border select-thestate">
                                    <small class="text-black-50 display-md">البلد / المنطقة</small>
                                    <select id="thestate" name="state" required
                                        class="form-select shadow-none  py-1 px-0 border-0 mt-n1">
                                        <option value="السعودية">
                                            السعودية
                                        </option>
                                    </select>
                                </label>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="address" required
                                            class="form-control form-control-lg  rounded-3" placeholder="العنوان">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="postalcode" required
                                            class="form-control form-control-lg rounded-3 w-sm-50 postal-code"
                                            maxlength="5" placeholder="الرمز البريدى">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="text" name="mobilenumber" required
                                    class="form-control form-control-lg rounded-3" placeholder="رقم الجوال">
                            </div>
                            <div class="form-check">
                                <!-- Dont Change The ID because used at js -->
                                <input class="form-check-input" type="checkbox" name="differentAddress"
                                    id="differentAddress">
                                <label class="form-check-label" for="differentAddress">
                                    توصيل الباقة إلى عنوان مختلف عن عنوان المشتري
                                </label>
                            </div>
                            <!-- Another Address -->
                            <!-- Dont Change The Class Name because used at js -->
                            <div class="select-map mt-2 d-none">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14934500.102716953!2d36.050247592638534!3d23.95626045855641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e7b33fe7952a41%3A0x5960504bc21ab69b!2sSaudi%20Arabia!5e0!3m2!1sen!2seg!4v1646125791214!5m2!1sen!2seg"
                                    width="100%" height="300" class="rounded-3" style="border:0;"
                                    loading="lazy"></iframe>
                            </div>
                        </section>
                        <section>
                            <h5 class="text-primary mb-3 fw-600">بطاقتك الائتمانية</h5>


                            <div class="mb-3">
                                <input type="text" name="cardName" required
                                    class="form-control form-control-lg display-omd rounded-3"
                                    placeholder="الاسم على البطاقة">
                            </div>


                            <div class="input-group input-group-lg rounded overflow-hidden border mb-3">
                                <input type="text" name="cardNumber" class="form-control border-0"
                                    placeholder="4565 7889 6545 2315" maxlength="16" required>
                                <span class="input-group-text px-1 bg-transparent">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="22" height="22"
                                        viewBox="0 0 48 48" style=" fill:#000000;">
                                        <path fill="#ff9800" d="M32 10A14 14 0 1 0 32 38A14 14 0 1 0 32 10Z">
                                        </path>
                                        <path fill="#d50000" d="M16 10A14 14 0 1 0 16 38A14 14 0 1 0 16 10Z">
                                        </path>
                                        <path fill="#ff3d00"
                                            d="M18,24c0,4.755,2.376,8.95,6,11.48c3.624-2.53,6-6.725,6-11.48s-2.376-8.95-6-11.48 C20.376,15.05,18,19.245,18,24z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="input-group-text px-1 bg-transparent">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="22" height="22"
                                        viewBox="0 0 24 24" style=" fill:#000000;">
                                        <path fill="#191E6E"
                                            d="M13.967,13.837c-0.766,0-1.186-0.105-1.831-0.37l-0.239-0.109l-0.271,1.575	c0.466,0.192,1.306,0.357,2.175,0.37c2.041,0,3.375-0.947,3.391-2.404c0.016-0.801-0.51-1.409-1.621-1.91	c-0.674-0.325-1.094-0.543-1.094-0.873c0-0.292,0.359-0.603,1.109-0.603c0.645-0.01,1.096,0.127,1.455,0.269l0.18,0.08l0.271-1.522	l-0.047,0.01c-0.387-0.144-0.99-0.297-1.74-0.297c-1.92,0-3.275,0.954-3.285,2.321c-0.012,1.005,0.964,1.571,1.701,1.908	c0.757,0.345,1.01,0.562,1.008,0.872C15.124,13.625,14.524,13.837,13.967,13.837z">
                                        </path>
                                        <path fill="#191E6E"
                                            d="M22.428,8.182h-1.5c-0.467,0-0.816,0.125-1.021,0.583l-2.885,6.44h2.041l0.408-1.054l2.49,0.002	c0.061,0.246,0.24,1.052,0.24,1.052H24L22.428,8.182z M20.03,12.71l0.774-1.963c-0.01,0.02,0.16-0.406,0.258-0.67l0.133,0.606	l0.449,2.027H20.03z">
                                        </path>
                                        <polygon fill="#191E6E"
                                            points="8.444,15.149 10.388,15.149 11.603,8.123 9.66,8.123 9.66,8.121">
                                        </polygon>
                                        <path fill="#191E6E"
                                            d="M4.923,12.971l-0.202-0.976v0.003L4.039,8.772C3.922,8.325,3.58,8.193,3.156,8.177H0.025L0,8.325	C0.705,8.49,1.34,8.729,1.908,9.022c0.102,0.063,0.145,0.132,0.18,0.234l1.68,5.939h2.054l3.061-7.013H6.824L4.923,12.971z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="input-group-text ps-1 bg-transparent">
                                    <img src="../assets/img/mada.svg" width="22" alt="mada card ">
                                </span>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="cvcCode" required maxlength="3"
                                            class="form-control form-control-lg  rounded-3" placeholder="CVC">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <input type="text" name="cardDate" id="expiredCardDate" required
                                            class="form-control form-control-lg bg-white rounded-3" placeholder="MM/YY">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="text-center mt-4">
                            <button class="btn btn-primary custom-rounded display-md px-5 py-2" type="submit">
                                <b>120 ر.س</b>
                                ادفع الان
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- Main Footer -->
        <footer id="main-footer" class="position-relative overflow-hidden py-5">
            <img src="../assets/img/bg-flower.png" class="main_footer-img position-absolute user-select-none"
                draggable="false" alt="background flower" width="100">

            <div class="main_footer-content container">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="text-center text-md-start">
                            <a href="index.html">
                                <img src="../assets/img/logo.png" width="120" alt="roza logo">
                            </a>

                            <p class="text-dark-primary my-4">
                                جميع الحقوق محفوظة

                                &copy;

                                <script>
                                    document.write(new Date().getFullYear())

                                </script>
                            </p>

                            <ul
                                class="list-unstyled m-0 p-0 d-flex gap-3 justify-content-center justify-content-md-start">
                                <li>
                                    <a href="#" target="_blank"
                                        class="flex-center hover-effect avatar-xlg bg-black bg-opacity-10 text-black rounded-circle">
                                        <i class="la la-youtube-play display-xomd"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        class="flex-center hover-effect avatar-xlg bg-black bg-opacity-10 text-black rounded-circle">
                                        <i class="lab la-twitter display-xomd"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        class="flex-center hover-effect avatar-xlg bg-black bg-opacity-10 text-black rounded-circle">
                                        <i class="lab la-dribbble display-xomd"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"
                                        class="flex-center hover-effect avatar-xlg bg-black bg-opacity-10 text-black rounded-circle">
                                        <i class="lab la-instagram display-xomd"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <article>
                            <h5 class="text-dark-primary mb-4">
                                روابط سريعة
                            </h5>
                            <div class="d-flex flex-column gap-2">
                                <a class="text-dark-primary" href="index.html">الرئيسية</a>
                                <a class="text-dark-primary" href="who-we-are.html">من نحن</a>
                                <a class="text-dark-primary" href="products.html">منتجاتنا</a>
                                <a class="text-dark-primary" href="last-offers.html">آخر العروض</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <article>
                            <h5 class="text-dark-primary mb-4">
                                مساعدة
                            </h5>
                            <div class="d-flex flex-column gap-2">
                                <a class="text-dark-primary" href="contact-us.html">اتصل بنا</a>
                                <a class="text-dark-primary" href="#">سياسة الشحن</a>
                                <a class="text-dark-primary" href="#">الشروط والأحكام</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article>
                            <h5 class="text-dark-primary mb-4">
                                اشترك في النشرة البريدية
                            </h5>
                            <form>
                                <div class="d-flex w-lg-65 p-1 custom-email align-items-center rounded-2">
                                    <input type="email" name="youremail"
                                        class="form-control rounded-2 w-100 border-0 pe-0"
                                        placeholder="بريدك الإلكتروني">
                                    <button class="btn py-0 pe-2 ps-1 display-xomd rounded-2 text-primary"
                                        type="submit">
                                        <i class="lab la-telegram-plane align-middle"></i>
                                    </button>
                                </div>
                            </form>
                        </article>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- Scripts -->
    <!-- Important : Bootstrap 5 not depend on jquery -->
    <script src="../js/libs/bootstrap.bundle.min.js"></script>
    <script src="../js/libs/jquery-3.5.1.min.js"></script>
    <script src="../js/libs/flatpickr.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>
